.contactgrid-container {
    display:grid;
    grid-template-columns: 40% auto;
    grid-template-rows: 250px 300px;
    margin-top: 30px;
}
.contactus {
    font-size: 30px;
}

.appreciation {
    display : flex;
    grid-row: span 2;
    align-items: center;
}
.thankyou {
    font-size: 50px;
   
}
.info {
    margin-left : 100px;
    visibility: hidden;
    animation : appear 0.5s ease-in 3.7s forwards;
}

@keyframes appear {
        from { opacity: 0; }
        to   { opacity: 1; visibility: unset }
    }
