

.notlogin-grid {
    display:grid;
    grid-template-columns: 40% auto;
    margin-top: 100px;
}

.greeting
  {
    text-align: right;
}

.notelist {
    border: solid black 5px;
    border-radius: 10px;
    overflow: scroll;
    width:300px;
    height: 400px;
    margin-top: 30px;
    padding: 10px;
}


.date {
    font-size: 10px;
}

.reloadbutton {
    background-color:#9198e5 ;
    padding: 5px 10px 5px 10px;
    border-radius: 50% 50%;
    cursor: pointer;
    
}

.new-button {
    display: block;
    float: right;
    padding: 5px 10px;
    font-size: 20px;
    border: black solid 2px;
    border-radius: 10px;
    background-color: #FFD387;
    color: black;
    font-weight: bold;
    margin-right: 150px;
    margin-bottom: 20px;
    margin-top: -20px;
    cursor: pointer;

}

.your-note {
    margin-top: 70px;
    font-size: 20px;
}


.listgrid-container {
    display:grid;
    grid-template-columns: 40% auto;
    width: 1200px;
    margin:auto;
}

.loginplease {
    color:#3d4598;
    font-weight: 600;
    text-decoration-line: none;
    font-size: 30px;
}

.loginplease:hover {
    color:rgb(171, 27, 27);
}

.sorry {
    margin-top : 100px;
}
.link {
    text-decoration: none;
    color: black;
}

